*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
  padding: 3rem;
  box-sizing: border-box; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 3rem; }

p {
  font-size: 1.6rem; }

.company {
  background-color: #eee;
  padding: 2rem;
  display: block;
  height: 100vh; }

.view-money-box {
  width: 50vw;
  margin: 0 auto; }

.view-money {
  font-size: 2rem;
  display: flex;
  flex-direction: row; }
  .view-money__amount {
    font-size: inherit;
    padding: 0 2.5rem; }
  .view-money__second {
    font-size: inherit; }

.money-btn-box {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  padding: 3rem 0;
  margin-bottom: 1.5rem; }

.money-btn {
  font-size: 2.5rem;
  padding: 2.5rem 5rem;
  border-style: solid;
  border-color: #333;
  border-radius: 4rem;
  background-color: #eee;
  text-decoration: none;
  outline: none;
  cursor: pointer; }
  .money-btn:hover {
    background-color: #333;
    color: #eee; }

.panel-box {
  width: 50vw;
  margin: 0 auto; }

.panel {
  font-size: 2rem; }

.buy {
  border: solid #333 0.5rem;
  padding: 1rem; }
  .buy__heading-primary {
    font-size: 3rem;
    width: 70vw; }
  .buy__unorder-list {
    border: solid #333 0.5rem; }

.upgrade {
  border: solid #333 0.5rem;
  padding: 1rem; }
  .upgrade__heading-primary {
    font-size: 3rem;
    width: 70vw; }
  .upgrade__unorder-list {
    border: solid #333 0.5rem; }

.item-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid #333 0.25rem;
  margin: 1rem; }

.item__heading-primary {
  font-size: 2rem; }
