*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
  padding: 3rem;
  box-sizing: border-box; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 3rem; }

p {
  font-size: 1.6rem; }

.company {
  background-color: #eee;
  padding: 2rem;
  display: block;
  height: 100vh; }

.buy {
  border: solid #0f28b4 0.5rem; }
  .buy__dipendenti {
    background-color: red; }
  .buy__negozi {
    background-color: rebeccapurple; }

.soldi {
  display: flex;
  background-color: goldenrod; }
  .soldi__heading-primary {
    font-size: 4rem; }
  .soldi__money-btn {
    font-size: 3rem;
    padding: 1.5rem;
    border-radius: 3rem;
    border-color: #333;
    background-color: #eee; }
    .soldi__money-btn:hover {
      background-color: #333;
      color: #eee; }

/*Buttons*/
.btn {
  display: inline-block;
  margin: 1rem;
  font-weight: 400;
  width: 10rem;
  height: 5rem;
  color: #333;
  text-align: center;
  text-decoration: none;
  user-select: none;
  background-color: #74b1e9;
  border: solid #333 0.1rem;
  border-radius: 3rem; }
  .btn:hover {
    background-color: #010038;
    color: #eee; }
  .btn__secondary {
    font-size: large; }
