$color-primary-light: #74b1e9;
$color-primary: #0f28b4;
$color-primary-dark: #010038;

$color-black: #333;
$color-white: #eee;
$color-grey: #777;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;

	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: $color-black;
	padding: 3rem;

	box-sizing: border-box;
}

.heading-primary {
	font-size: 4rem;
	font-weight: 300;
	text-align: center;
	letter-spacing: 2rem;
}

.heading-secondary {
	font-size: 3rem;
	font-weight: 300;
	text-align: center;
}

.ulist {
	font-size: 1.6rem;
	list-style-type: none;

	&__item {
		font-size: 1.6rem;
	}
}

.company {
	background-color: $color-white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	min-height: 60vh;
}

.money-box {
	font-size: 3rem;
	width: 60vw;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 3rem;

	&__data {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 2rem;
	}

	&__actions {
		display: flex;
		justify-content: space-evenly;
	}
}

.btn {
	font-size: 2rem;
	padding: 2rem 4rem;
	border-style: solid;
	border-radius: 4rem;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	
	&--primary {
		border-color: $color-black;
		background-color: $color-white;

		&:hover {
			color: $color-white;
			background-color: $color-black;
		}
	}
}