$color-primary: rgb(41, 102, 235);
$color-primary-light: rgb(117, 154, 235);
$color-primary-dark: rgb(18, 44, 100);

$color-secondary: rgb(225, 230, 236);

* {
	margin: 0;
	padding: 0;

	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	box-sizing: border-box;

	font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.7;
	background-image: linear-gradient(180deg, $color-primary-light, $color-primary-dark);
	background-repeat: no-repeat;
}

h1 {
	font-size: 6rem;
	font-weight: 700;
	text-align: center;
	color: $color-secondary;
	margin-top: 3rem;
}

h2 {
    font-size: 3rem;
	padding-bottom: 8rem;
    color: $color-secondary;
}

button {
	background-color: $color-secondary;
	color: $color-primary;
	font-size: 1.8rem;
	font-weight: 800;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 5rem;
	padding-right: 5rem;
	border-radius: 2rem;
	border-color: transparent;
	transition-duration: 0.4s;
}

button:hover {
	background-color: $color-primary;
	color: $color-secondary;
	box-shadow: 0 0.75rem 1rem 0 rgba(0,0,0,0.24), 0 1.0625rem 3.125rem 0 rgba(0,0,0,0.19);
}

.btnright {
	margin-left: 3rem;
}

.container {
    text-align: center;
	width: 30rem;
	height: 15rem;
	margin: auto;
	margin-top: 8rem;
}